.container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: linear-gradient(rgba(27, 26, 26, 0.774), rgb(29, 179, 238)); */
  padding-bottom: 40px;
  padding-top: 20px;
  border-radius: 10px;
}
.main {
  width: 100%;
}

input {
  width: 70%;
  height: 50px;
  margin-top: 10px;
  font-size: 2rem;
}
button {
  margin-top: 20px;
}
