#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  width: 100wh;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgb(29, 179, 238), black);
}

a {
  color: white;
}

.navbar {
  margin-bottom: 20px;
}
